@import url("https://fonts.googleapis.com/css?family=Poppins");

.headerBackground {
  background: linear-gradient(89.82deg, #07006b 0%, #080078 100%);
  z-index: 2;
  position: relative;
}
.headerContent {
  max-width: 1366px;
  width: 90%;
  margin: 0 auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoContainer {
  width: 28%;
  margin-left: 32px;
  height: 27px;
}
.logoContainer img {
  height: 27px;
  width: 150px;
}
.searchSection {
  width: 40%;
}
.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  max-width: 396px;
  width: 100%;
  border-radius: 4px;
  color: #333;
  background: #fff;
}
.searchContainer input {
  width: 90%;
  border: none;
  font-size: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #333;
  background: rgba(255, 255, 255, 0.97);
}
.searchContainer input:focus {
  outline: none;
  border: none;
}
.iconsContainer {
  width: 17%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  margin-right: 99px;
  position: relative;
}
.userContainer {
  position: absolute;
  right: -84px;
}
.userIcon {
  border-radius: 50%;
  position: relative;
  left: 4px;
}
.navContainer {
  width: 100%;
  border-bottom: 2px solid #e8e8e8;
  background-color: #fff;
  position: relative;
}
.navContent {
  width: 400px;
  margin: 0 auto;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tab {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #363839;
  text-decoration: none;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
}
.tabActive {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #363839;
  text-decoration: none;
  padding-top: 9px;
  padding-bottom: 7px;
  font-weight: 600;
  border-bottom: 4px solid #ff017b;
  padding-left: 15px;
  padding-right: 15px;
}

.body {
  width: 1300px;
  margin: 23px auto;
}
.pageTitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #080078;
}

.mobileToggle {
  display: none; /* hide on desktop */
  position: absolute; /* position it on the top right corner */
  left: 15px;
  top: 15px;
  font-size: 24px; /* icon size */
  color: #fff; /* color of the icon */
  cursor: pointer; /* mouse pointer when hover on it */
  z-index: 1; /* make sure it's on top of other elements */
  transition: all 0.3s ease-in-out; /* transition effect */
}

.mobile {
  display: none; /* hide on desktop */
  position: relative;
}

@media only screen and (max-width: 720px) {
  .mobileToggle {
    display: block; /* show on mobile */
    top: 36px;
  }
  .navContent {
    display: none; /* hide on mobile */
  }

  .mobile {
    display: flex;
    position: relative;
    overflow: hidden;
  }
  .overlay {
    background: rgb(220 220 220 / 74%);
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }

  .searchContainer {
    width: 100%;
  }
  .logoContainer {
    display: none;
  }
  .iconsContainer {
    display: none;
  }
  .searchSection {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .headerContent {
    justify-content: center;
    padding-left: 30px;
  }
}

/* body {
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

/*# sourceMappingURL=App.css.map */
