.artitle {
  display: flex;
  padding: 34px 0;
  justify-content: space-around;
}

.media {
  /* max-width: 104px;
  width: 40%; */
  height: 104px;
  padding-right: 20px;
}

.media img {
  /* width: 100%;
  height: 100%;
  display: block; */
  border: 1px solid #cfd586;
}

.content {
  /* width: 90%; */
  width: 393px;
  position: relative;
}

.content .title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
}

.content .info {
  position: absolute;
  bottom: 10px;
  font-size: 18px;
}

.content .author {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.09em;
  color: #cfd586;
}

.content .date {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.09em;
  color: #b8b8b8;
}

@media only screen and (max-width: 980px) {
  .article {
    display: block;
    width: 100%;
  }
  /* .media {
    width: 90%;
    margin: auto;
  } */

  /* .media img {
    width: 40%;
  }
  .content {
    width: 90%;
  }
  .content h4 {
    padding: 0;
  }

  .content p {
    padding: 20px 0;
  } */

  .content .title {
    font-size: 14px;
  }

  .content .info {
    bottom: 0px;
    font-size: 12px;
  }
}
